.bottom-buffer { margin-bottom: 20px; }
.top-buffer { margin-top: 20px; }
.christianity {
  background-color: #886AEA !important;
}
.hinduism {
  background-color: #D1C9DA !important;
}
.islam {
  background-color: #33CD5F !important;
}
.us {
  background-color: #11C1F3 !important;
}