<div>
    <p>Title</p>
    <input type="text" id="title" class="form-control" ng-model="eventTitle" />
    <br>
    <p>Start Date</p>
    <input type="datetime" id="startDate" class="form-control" placeholder="MM/DD/YYYY" ng-model="startDate" />
    <input type="time" id="startTime" class="form-control" ng-model="startTime" />
    <br>
    <p>End Date</p>
    <input type="text" id="endDate" class="form-control" placeholder="MM/DD/YYYY" ng-model="endDate" />
    <input type="time" id="endTime" class="form-control" ng-model="endTime" />
    <br>
    <div>
      <label style="font-weight: normal"><input type="checkbox" id="sendNotification" ng-model="sendNotification" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Notify me 1 hour before event</label>
    </div>
    <br>
    <div style="text-align: center">
        <button class="button button-default popup-buttons" style="width: 112px; height: 43px" ng-click="closeAddEventPopup()">Cancel</button>
        <button class="button button-positive popup-buttons" style="width: 112px; height: 43px" ng-click="addEvent(eventTitle, startDate, startTime, endDate, endTime, sendNotification)">Save</button>
    </div>
</div>
