<div>
    <div>
      <label style="font-weight: normal"><input type="radio" id="christian" name="filter" ng-model="filter" value="christianity" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Show only Christian holidays</label>
    </div>
    <div>
      <label style="font-weight: normal"><input type="radio" id="islamic" name="filter" ng-model="filter" value="islam" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Show only Islamic holidays</label>
    </div>
    <div>
      <label style="font-weight: normal"><input type="radio" id="hindu" name="filter" ng-model="filter" value="hinduism" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Show only Hindu holidays</label>
    </div>
    <div>
      <label style="font-weight: normal"><input type="radio" id="us" name="filter" ng-model="filter" value="us" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Show only U.S. federal holidays</label>
    </div>
    <div>
      <label style="font-weight: normal"><input type="radio" id="events" name="filter" ng-model="filter" value="events" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Show only my events</label>
    </div>
    <div>
      <label style="font-weight: normal"><input type="radio" id="all" name="filter" ng-model="filter" value="all" style="width: 22px; height: 22px; padding: 0; margin:0; vertical-align: bottom"/> Show all events</label>
    </div>
    <br>
    <div style="text-align: center">
        <button class="button button-default popup-buttons" style="width: 112px; height: 43px" ng-click="closeFilterEventsPopup()">Cancel</button>
        <button class="button button-positive popup-buttons" style="width: 112px; height: 43px" ng-click="filterEvents(filter)">Save</button>
    </div>
</div>
