
<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Ionic Calendar Demo">
    <title>Ionic Calendar Demo</title>
    <link rel="stylesheet" href="css/ionic.min.css"/>
    <link rel="stylesheet" href="css/calendar.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/glyphicons.css">
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/ionic.bundle.min.js"></script>
    <script src="js/calendar-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ng-cordova.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="cordova.js"></script>
</head>
<body>

<ion-nav-bar class="bar-dark" align-title="left">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Events" icon="ion-ios-pulse" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</script>

<script id="templates/home.html" type="text/ng-template">
    <ion-view view-title={{viewTitle}}>
        <ion-nav-buttons side="right">
            <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
            <a class="button active" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
            <a class="button" href="convert.html"><i class="glyphicon glyphicon-hand-right"></i></a>
        </ion-nav-buttons>

        <ion-content scroll="false" class="main-content has-footer">
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime, events)" step="30"></calendar>
        </ion-content>

        <ion-footer-bar align-title="left" class="bar-dark">
          <div class="buttons">
            <button class="button" ng-click="changeMode('month')" style="width: 31px">M</button>
            <button class="button" ng-click="changeMode('week')" style="width: 31px">W</button>
            <button class="button" ng-click="changeMode('day')" style="width: 31px">D</button>
            <button class="button" ng-click="showAddEventPopup()"><span class="glyphicon glyphicon-star-empty"></span></button>
            <button class="button" ng-click="showLoadEventsPopup()"><span class="glyphicon glyphicon-list"></span></button>
            <button class="button" ng-click="showRemoveEventsPopup()"><span class="glyphicon glyphicon-minus-sign" style="color: #E44437"></span></button>
            <button class="button" ng-click="loadHolidays()"><span class="glyphicon glyphicon-globe" style="color: #0275D8"></span></button>
            <button class="button" ng-click="showFilterEventsPopup()"><span class="glyphicon glyphicon-filter" style="color: #E3F2FD"></span></button>
            <button class="button" ng-click="showSaveEventsPopup()"><span class="glyphicon glyphicon-floppy-disk" style="color: #33CD5F"></span></button>
            <button class="button" ng-click="clearEvents()"><span class="glyphicon glyphicon-remove" style="color: #E44437"></span></button>
            <button class="button" ng-click="showHelpPopup()"><span class="glyphicon glyphicon-header"></span></button>
          </div>
        </ion-footer-bar>

    </ion-view>
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("div.tab-nav").empty();
    $("div.tab-nav").prop("style", "background-color: #444 !important; border-color: #444 !important; background-image: linear-gradient(0deg,#444,#444,transparent 0%) !important");
  });
</script>

</body>
</html>
