<div class="list list-inset" ng-style="{ 'display': 'inline-flex', 'padding': '0'}">
  <label class='item item-input' ng-style="{ 'border-right-color': '#FFFFFF'}">
    <input type='text' ng-model='search' placeholder='Search'>
  </label>
</div>
<div class='listPopUpHeight'>
  <ion-scroll direction="y" class="available-scroller" style="height:350px">
    <ion-list>
      <ion-item 
        class="dataSourceItem" 
        collection-repeat="item in dataSource | filter:{Text: search}"
        collection-item-width="100%" 
        item-height="15%" 
        on-tap="tapped(item.Text)">
          {{item.Text}}
      </ion-item>
    </ion-list>
  </ion-scroll>
</div>