<div>
    <div class="vertical-align: middle" ng-repeat="event in events">
      <div style="height: 35px; text-overflow: ellipsis; white-space: nowrap"><button class="btn btn-xs btn-danger" ng-click="removeEvent(event.title)">Remove</button> {{event.title}}</div>
    </div>
    <br>
    <div style="text-align: center">
        <button class="button button-default popup-buttons" style="width: 112px; height: 43px" ng-click="closeRemoveEventsPopup()">Close</button>
    </div>
</div>
